/.idea/
/CRM_SP4_Group17.iml
/target/
/src/test/resources/features/TrainingFunction.feature
/src/test/resources/features/Tasks.feature
/src/test/resources/features/MessageFunctionality.feature
/src/test/resources/features/Login.feature
/src/test/resources/features/IdeaFunctionality.feature
/src/test/resources/features/FilterAndSearch.feature
/src/test/resources/features/CompanyFunctions.feature
/src/test/java/Example.java
/src/test/java/com/CRMLY/utilities/Driver.java
/src/test/java/com/CRMLY/utilities/ConfigurationReader.java
/src/test/java/com/CRMLY/utilities/BrowserUtils.java
/src/test/java/com/CRMLY/stepdefinitions/LoginStepDefs.java
/src/test/java/com/CRMLY/stepdefinitions/Hooks.java
/src/test/java/com/CRMLY/runners/
/src/test/java/com/CRMLY/pages/
/configuration.properties
/pom.xml
